<content-header name="Cadastro de Produtos" small="Cadastro"></content-header>

<section class="content">
  <div class="nav-tabs-custom" ng-controller="ControleEstoqueCtrl as ceCtrl">
    <ul class="nav nav-tabs">
      <li class="nav-item" ng-if="ceCtrl.tabList" ng-class="{active: ceCtrl.tabList}">
        <a href data-target="#tabList" data-toggle="tab">
        <i class="fa fa-bars"></i> Lista
        </a>
      </li>
      <li class="nav-item" ng-if="ceCtrl.tabCreate">
        <a href data-target="#tabCreate" data-toggle="tab">
        <i class="fa fa-plus"></i> Incluir
        </a>
      </li>
      <li class="nav-item" ng-if="ceCtrl.tabUpdate" ng-class="{active: ceCtrl.tabUpdate}">
        <a href data-target="#tabUpdate" data-toggle="tab">
        <i class="fa fa-pencil"></i> Alterar
        </a>
      </li>
      <li class="nav-item" ng-if="ceCtrl.tabDelete" ng-class="{active: ceCtrl.tabDelete}">
        <a href data-target="#tabDelete" data-toggle="tab">
        <i class="fa fa-trash-o"></i> Excluir
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tabList" ng-include="'controleEstoque/list.html'"
        ng-if="ceCtrl.tabList" ng-class="{active: ceCtrl.tabList}">
      </div>
      <div class="tab-pane" id="tabCreate" ng-include="'controleEstoque/form.html'"
        ng-if="ceCtrl.tabCreate"></div>
      <div class="tab-pane" id="tabUpdate" ng-include="'controleEstoque/form.html'"
        ng-if="ceCtrl.tabUpdate" ng-class="{active: ceCtrl.tabUpdate}"></div>
      <div class="tab-pane" id="tabDelete" ng-include="'controleEstoque/form.html'"
        ng-if="ceCtrl.tabDelete" ng-class="{active: ceCtrl.tabDelete}"></div>
    </div>
  </div>
</section>
